
services:
  hello-world:
    image: nginx:alpine
    container_name: hello-world
    volumes:
      - ./html:/usr/share/nginx/html:ro
    labels:
      traefik.enable: true
      traefik.docker.network: traefik
      traefik.http.routers.hello-world.rule: 'Host(`${TRAFIK_HOST}`)'
      traefik.http.routers.hello-world.entrypoints: https
      traefik.http.routers.hello-world.tls.certresolver: letsencrypt

      # HTTP redirection
      traefik.http.routers.hello-world-http.entrypoints: http
      traefik.http.routers.hello-world-http.rule: 'Host(`${TRAFIK_HOST}`)'
      traefik.http.middlewares.https-redirect.redirectscheme.scheme: https
      traefik.http.routers.hello-world-http.middlewares: https-redirect

    networks:
      - default
      - traefik
    restart: unless-stopped

networks:
  traefik:
    external: true
